node_modules
dist
typings
npm-debug*
apikeys.js
exercises/accounts
exercises/autocomplete-2
exercises/autocomplete-3
exercises/autocomplete-4
exercises/autocomplete-sfc
exercises/cashier
#exercises/color-functions
exercises/dealer
exercises/fib
exercises/stack
.idea